<ng-container [formGroup]="form">
    <label>{{formItem.label}}</label>
    <ng-container [ngSwitch]="formItem.type">
    <input type="text"
        *ngSwitchCase="'text'"
        [formControlName]="formItem.id"
        >
    <br>
    <select *ngSwitchCase="'select'"
        [formControlName]="formItem.id">
            <option selected [ngValue]="null">Please select</option>
            <option [ngValue]="o.key" *ngFor="let o of formItem.selectMenuOpton | keyvalue">{{o.value}}</option>
    </select>
    <br>
    <input type="number"
        *ngSwitchCase="'number'"
        [formControlName]="formItem.id"
        >
    </ng-container>

   
</ng-container>